<h1>Data Science Tools and Ecosystem<h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

#Some of the popular languages that Data Scientists use are:

<ol>
<li>Python.</li>
<li>R.</li>
<li>SQL.</li>
</ol>

#Some of the commonly used libraries used by Data Scientists include:
<ol>
<li>TensorFlow.</li>
<li>Pandas</li>
<li>NumPy.</li>
</ol>


<table style=\"width:100%\">
<tr>
<th>Data Science Tools</th>,
<th></th>
<th></th>
</tr>
<tr>
<td>SAS. It is one of those data science tools which are specifically designed for statistical operation</td>
<td></td>
<td></td>
</tr>
<tr>
<td>Apache Spark</td>
 <td></td>
<td></td>
</tr>
 <tr>
<td>BigML</td>
 <td></td>
<td></td>
</tr>
</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python<h3>

In [ ]:
#This a simple arithmetic expression to mutiply then add integers.

In [2]:
a=(3*4)+5
print(a)

17

In [3]:
#This will convert 200 minutes to hours by diving by 60

In [5]:
min= 200
hours=min/60
print(

3.3333333333333335

<strong>Objectives:</strong>
<ul>
<li>List popular languages that Data Scientists use.</li>
<li>List commonly used libraries used by Data Scientists.</li>
<li>Comment on Data Science tools.</li>

<h2>Author:</h2>Tushar Thakar